<app-fullscreenform (formSubmit)="editUser()">
  <div class="grid grid-cols-12">
    <div class="col-span-6 p-2">
      <label for="userForm_numberPhone" class="block mb-2 text-sm font-medium text-gray-900">Số Điện Thoại:</label>
      <input type="text" id="userForm_numberPhone" name="userForm_numberPhone" [(ngModel)]="userForm.numberPhone"
        class="bg-gray-50 w-full border py-2 px-4 leading-tight min-w border-gray-300 text-gray-900 text-sm rounded-lg"
        required>
    </div>
    <div class="col-span-6 p-2">
      <label for="userForm_password" class="block mb-2 text-sm font-medium text-gray-900">Mật Khẩu:</label>
      <input type="password" id="userForm_password" name="userForm_password" [(ngModel)]="userForm.password"
        class="bg-gray-50 w-full border py-2 px-4 leading-tight min-w border-gray-300 text-gray-900 text-sm rounded-lg"
        required>
    </div>
    <div class="col-span-5 p-2">
      <label for="userForm_name" class="block mb-2 text-sm font-medium text-gray-900">Tên Người Dùng:</label>
      <input type="text" id="userForm_name" name="userForm_name" [(ngModel)]="userForm.name"
        class="bg-gray-50 w-full border py-2 px-4 leading-tight min-w border-gray-300 text-gray-900 text-sm rounded-lg"
        required>
    </div>
    <div class="col-span-2 py-2">
      <label for="userForm_age" class="block mb-2 text-sm font-medium text-gray-900">Tuổi:</label>
      <input type="number" id="userForm_age" name="userForm_age" [(ngModel)]="userForm.age"
        class="bg-gray-50 w-full border py-2 px-4 leading-tight min-w border-gray-300 text-gray-900 text-sm rounded-lg"
        required>
    </div>
    <div class="col-span-5 p-2">
      <label for="userForm_gender" class="block mb-2 text-sm font-medium text-gray-900">Giới Tính:</label>
      <select name="userForm_gender" id="userForm_gender" [(ngModel)]="userForm.gender"
        class="bg-gray-50 w-full border py-2 px-4 leading-tight min-w border-gray-300 text-gray-900 text-sm rounded-lg">
        <option value="Nam" [selected]="userForm.gender === 'Nam'">Nam</option>
        <option value="Nữ" [selected]="userForm.gender === 'Nữ'">Nữ</option>
      </select>
    </div>
    <div class="col-span-6 p-2">
      <label for="userForm_mail" class="block mb-2 text-sm font-medium text-gray-900">Email:</label>
      <input type="email" id="userForm_mail" name="userForm_mail" [(ngModel)]="userForm.mail"
        class="bg-gray-50 w-full border py-2 px-4 leading-tight min-w border-gray-300 text-gray-900 text-sm rounded-lg"
        required>
    </div>
    <div class="col-span-6 p-2">
      <label for="userForm_position" class="block mb-2 text-sm font-medium text-gray-900">Vị Trí:</label>
      <select name="userForm_position" id="userForm_position" [(ngModel)]="userForm.position"
        class="bg-gray-50 w-full border py-2 px-4 leading-tight min-w border-gray-300 text-gray-900 text-sm rounded-lg">
        <option value="Admin" [selected]="userForm.position === 'Admin'">Admin</option>
        <option value="userForm" [selected]="userForm.position === 'userForm'">userForm</option>
      </select>
    </div>
    <div class="col-span-6 p-2">
      <label for="userForm_teachGroupId" class="block mb-2 text-sm font-medium text-gray-900">Nhóm Giảng Dạy:</label>
      <select name="userForm_teachGroupId" id="userForm_teachGroupId" [(ngModel)]="userForm.teachGroupId"
        class="bg-gray-50 w-full border py-2 px-4 leading-tight min-w border-gray-300 text-gray-900 text-sm rounded-lg">
        <option *ngFor="let group of listOfTeachGroup" [ngValue]="group.id">{{ group.name }}</option>
      </select>
    </div>
    <div class="col-span-6 p-2">
      <label for="userForm_point" class="block mb-2 text-sm font-medium text-gray-900">Điểm:</label>
      <input type="number" id="userForm_point" name="userForm_point" [(ngModel)]="userForm.point"
        class="bg-gray-50 w-full border py-2 px-4 leading-tight min-w border-gray-300 text-gray-900 text-sm rounded-lg"
        required>
    </div>
    <div class="col-span-12 p-2">
      <label for="userForm_avatar" class="block mb-2 text-sm font-medium text-gray-900">Ảnh Đại Diện:</label>
      <div class="flex-container">
        <div class="drag-area-1 drag-area w-full rounded-2xl border-2 border-dashed place-content-center">
          <header class="text-lg text-center text-black-50 drag-or-drop">Kéo và Thả để Tải ảnh lên</header>
          <span class="my-3 text-center text-sm text-black-50">Hoặc</span>
          <div class="but-add-image text-center">Chọn ảnh</div>
          <input type="file" id="userForm_avatar" name="userForm_avatar" (change)="onFileSelected($event)"
            class="bg-gray-50 w-full border py-2 px-4 leading-tight min-w border-gray-300 text-gray-900 text-sm rounded-lg">
          <img *ngIf="userForm.avatar" [src]="'http://localhost:5238/uploads/' + userForm.avatar" alt="Avatar" class="mt-2 rounded-lg w-24 h-24 justify-self-center">
        </div>
      </div>
    </div>
  </div>
</app-fullscreenform>
