<nav>
  <i class='bx bx-menu'></i>
  <a href="#" class="nav-link">Categories</a>
  <form action="#">
    <div class="form-input">
      <input type="search" placeholder="Search...">
      <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
    </div>
  </form>
  <input type="checkbox" id="switch-mode" hidden>
  <label for="switch-mode" class="switch-mode"></label>
  <a class="notification" (click)="toggleDropdown()">
    <i class='bx bxs-bell'></i>
    <span class="num">8</span>

    <div *ngIf="isDropdownVisible" class="dropdown">
      <ul>
        <li class="flex items-center" *ngFor="let request of requestedPermissions">
          <p class="text-sm">{{ getEvaluateById(request.requetedPermissionId) }} của {{ getUserById(request.userId) }} đang {{request.status}}</p>
          <a class="flex text-sm items-center h-fit but-add hover:bg-sky-200 text-white rounded p-1 mr-1" [routerLink]="['/cap-quyen/danh-gia', request.requetedPermissionId]">Xem</a>
          <a class="flex text-sm items-center h-fit but-add hover:bg-sky-200 text-white text-md rounded p-1">Xóa</a>
        </li>
      </ul>
    </div>
  </a>
  <a href="#" class="profile">
    <img src="img/people.png">
  </a>
</nav>
