<div class="m-2 container pr-8">
  <div class="box-top-left mx-2 max-h-60 overflow-auto">
    <form (formSubmit)="editEvaluate()">
      <div class="grid grid-cols-12">
        <div class="col-span-12 p-2">
          <label for="evaluate_name" class="block mb-2 text-sm font-medium text-gray-900">Tên Đánh Giá:</label>
          <select name="evaluate_name" id="evaluate_name" [(ngModel)]="evaluate_name" (change)="onEvaluateChange()"
            class="bg-gray-50 w-full border py-2 px-4 leading-tight min-w border-gray-300 text-gray-900 text-sm rounded-lg">
            <option value="Đánh giá học kì 1">Đánh giá học kì 1</option>
            <option value="Đánh giá học kì 2">Đánh giá học kì 2</option>
          </select>
        </div>
        <div class="col-span-6 p-2">
          <label for="evaluate_from" class="block mb-2 text-sm font-medium text-gray-900">Từ Ngày:</label>
          <input type="date" id="evaluate_from" name="evaluate_from" [(ngModel)]="evaluate_from"
            class="bg-gray-50 w-full border py-2 px-4 leading-tight min-w border-gray-300 text-gray-900 text-sm rounded-lg"
            readonly>
        </div>
        <div class="col-span-6 p-2">
          <label for="evaluate_to" class="block mb-2 text-sm font-medium text-gray-900">Đến Ngày:</label>
          <input type="date" id="evaluate_to" name="evaluate_to" [(ngModel)]="evaluate_to"
            class="bg-gray-50 w-full border py-2 px-4 leading-tight min-w border-gray-300 text-gray-900 text-sm rounded-lg"
            readonly>
        </div>
      </div>
    </form>
  </div>
  <div class="box-top-right mx-4 max-h-80 overflow-auto">
    <div class="flex place-content-between mb-2">
      <h2 class="text-xl">Danh sách tiêu chí:</h2>
      <a class="flex items-center but-add hover:bg-sky-200 text-white px-3 rounded" nz-button nzType="primary"
        [routerLink]="['/nguoi-dung/danh-gia', evaluate_id]">Sửa</a>
    </div>

    <nz-table class="border-collapse rounded-md border-blue-400" #rowSelectionTable nzShowSizeChanger [nzData]="listOfCriteriaOfAevaluate"
      (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
      <thead>
        <tr>
          <th [nzSelections]="listOfSelection" [(nzChecked)]="checked" [nzIndeterminate]="indeterminate"
            (nzCheckedChange)="onAllChecked($event)">
          </th>
          <th>Tên Tiêu Chí</th>
          <th>Số Lượng</th>
          <th>Tổng</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data; trackBy: trackById">
          <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
          <td>{{ getCriteriaNameById(data.criteriaId) }}</td>
          <td>{{ data.quantity }}</td>
          <td>{{ data.total }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
<div class="flex justify-end mt-4">
  <button (click)="editEvaluate()"
    class="flex items-center but-add hover:bg-sky-200 text-white px-6 py-3 rounded">Xong</button>
</div>
</div>
